.Get-ready {
  padding-top: 30px;
  width: 165px;
  height: 48px;
  font-family: AvenirNext;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #4f5b77;
}

.Rectangle-6>p{
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #4f5b77;
}

.to-start-this-advent {
  width: 450px;
  height: 96px;
  font-family: AvenirNext;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #c6cad3;
}

.Rectangle-4 {
  width: 26vw;
  height: 90vh;
  background-color: #f4f7fc;
  float:right;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.-Go-back {
  margin-top: 50px;
  width: 100px;
  height: 24px;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #4f5b77;
}

.Combined-Shape {
  width: 28px;
  height: 48px;
  background-color: #008d9c;
  float: left;
}

.Step-1-of-5 {
  font-family: AvenirNext;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #008d9c;
}

.Drive-to-the-rocket {
  width: 224px;
  height: 32px;
  font-family: AvenirNext;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #4f5b77;
}

.We-need-to-register {
  width: 100%;
  height: 72px;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #4f5b77;
}

input{
  width: 100%;
  height: 48px;
 
  border-radius: 24px;
  margin-bottom: 10px;
}

.Confirm {
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
}

.grey{
  color: #b0bbc8;
}

.Rectangle-4 > div{
  padding-top:20px;
}

.Rectangle-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 328px;
  height: 80px;
  border-radius: 8px;
  background-color: #ffffff;
}

.rectangle{
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px #f5f5f5;
  color:#4f5b77;
  font-family: AvenirNext;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  outline: none;
}

.color {
  opacity: 100;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b0bbc8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b0bbc8;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b0bbc8;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b0bbc8;
}
