svg {
  width: 100%;
}

.layer {
  width: 90px;
  height: 98px;
  font-family: AvenirNext;
  font-size: 72px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #008d9c;
}

.text-animation {
  padding-left: 50px;
  position: relative;
  z-index: 1;
}

.animation {
  width: 95%;
  top: 0%;
}

.space {
  padding-top: 52px;
}

.color {
  opacity: 100;
}

.about-the-squad {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}