svg {
  width: 100%;
}

.layer {
  width: 90px;
  height: 98px;
  font-family: AvenirNext;
  font-size: 72px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #008d9c;
}

.text-animation {
  padding-left: 50px;
  position: relative;
  z-index: 1;
}

.animation {
  width: 95%;
  top: 0%;
}

.space {
  padding-top: 52px;
}

.color {
  opacity: 100;
}

.about-the-squad {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
}

.center {
  justify-content: center;
  align-content: center;
}

.inline {
  display: flex;
}

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  /* Could be more or less, depending on screen size */
  border-radius: 24px;
}

/* The Close Button */
.close {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  width: 3rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.text-modal {
  font-weight: bold;
  margin-top: 5%;
}
