select {
  width: 327px;
  height: 64px;
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 1px #f5f5f5;
}

.color {
  opacity: 100;
}

.row {
  display: flex;
  align-items: center;
  justify-content: start;
}