.container {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 0 !important;
  width: 80%;
}

.right-bar {
  width: 100vw !important;
  padding: 25px !important;
  width: 90vw !important;
}

.left-part {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
  width: 80vw;
}

h2 {
  width: 70% !important;
  font-size: 16px !important;
}

.space-man {
  width: 100% !important;
}

.reverse {
  flex-direction: column !important;
}

.section {
  padding-top: 10% !important;
}