.container {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 0;
  width: 80%;
  zoom: 90%;
}

.right-bar {
  width: 100vw;
  padding: 25px;
}

.left-part {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
  width: 100vw;
  padding-bottom: 100px;
}

h2 {
  width: 100% !important;
  font-size: 32px;
}

.space-man {
  width: 100% !important;
}

.reverse {
  flex-direction: column !important;
}

.section {
  padding-top: 10px !important;
}

.animation {
  position: absolute;
  top:120vh;
  left: 0px;
  width: 100%;
  z-index: -1;
}