.container {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 0;
  width: 100%;
  zoom: 90%;
}

.right-bar {

  padding: 25px;
}

.left-part {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
  width: 100vw;
  padding-bottom: 100px;
  box-sizing: border-box;
}

h2 {
  width: 100% !important;
  font-size: 32px;
}

.space-man {
  width: 100% !important;
}

.reverse {
  flex-direction: column !important;
}

.section {
  padding-top: 10px !important;
}

button {
  margin-top: 2rem;
}