<div class="container">
  <div class="right-bar">
    <h3>There’s a competition between Ironhackers</h3>
    <div class="section">
      <h3>How to win</h3>
      <p>To win the competition all your mates from bootcamp have to fulfill this adventure.</p>
    </div>
    <div class="section">
      <h3>What’s it about</h3>
      <p>Your teachers are prisioners on the moon, and you will have to go to the moon, save them and go back to earth. 
          You will reach the moon by following the next 5 steps. The thing is, you only can go back to earth if your hole squad finishes this adventure.</p>
    </div>
    <div class="section">
      <h3>Objective</h3>
      <p>You have to fullfil the next 5 steps and get to know what’s your squad.</p>
    </div>
  </div>
  <h1>Hi Ironhacker!</h1>
  <h2>Would you like to know what’s the best squad of Ironhack?</h2>
</div>